
{% extends 'base.html' %}

  {% block content %}

<body class="bg-dark">
          <header class="p-3 text-bg-dark bg-black">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"></svg>
                    <!--I wrote the following "span" to be better styled for us since we dont have a technical "logo"
                    I think it looks fine but it can definently be altered to whatever we want.
                  
                    This is also an example of how we could style different elements inside of our website without using
                    Bootstrap presets.-->
                    <span 
                    style="font-size:25px;
                    text-align:center; 
                    line-height:1.5em;
                    font-family:Playfair Display, serif;
                    text-transform:uppercase;letter-spacing: 2px;
                    color:#e7c159;">
                    BookAholics
                  </span>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="." class="nav-link active px-2 text-secondary">Home</a></li>
                </ul>
        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>
        
                <div class="text-end">
                  <button type="button" class="btn btn-outline-light" onclick="document.location='editSeller.html'">account name</button>
                  <button type="button" class="btn btn-warning">Logout</button>
                  <button type="button" class="btn btn-warning" onclick="document.location='addListing.html'">Add Listing</button>
                </div>
              </div>
            </div>
          </header>
          <br><br>
    
          <div class="container my-4 rounded-5">
            <div class="d-flex align-items-center justify-content-between bg-black mb-3 p-3 rounded-3">
                <h1 class="m-0 fw-bold text-warning"
                style="
                font-family:Playfair Display, serif;
                letter-spacing: 2px;"
                >MY LISTINGS</h  >
            </div>
        </div>
          <div class="container my-4">
            <div class="row">
                <!--This is the listing example (image sizes must stay 600x1000 to stay consistent)-->
                {% for book in books %}
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="{{ book.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body bg-black text-center">
                            <h5 class="card-title fw-bold text-white">{{ book.title }}</h5> <!--Book Title-->
                            <p class="card-text text-white">{{ book.author }}</p> <!--Author Name-->
                            <p class="card-text text-white">${{ book.price }}</p> <!--Price-->
                            <p class="card-text text-white"># in stock: {{ book.stock }}</p> <!--Stock-->
                            <a href="{% url 'viewListing' book.id %}" class="btn btn-warning">View Listing</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
    
            </div>
          </div>
          {% endblock %}